:root{
    --primary-color:#000210;
    --secondary-color:#080537;
    --accent1-color:#d7dfff;
    --accent2-color:#4382ff;
    --color:whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    border: 2px solid rgb(45,45,45);
    margin: .1rem;
}

h1, h2{
    font-family: "Roboto", sans-serif;
    color: var(--accent2-color);
}

h1 {
    position: absolute;
    top: 0;
    /* background-color: rgba(3, 55, 79, 0.2); */
    width: 100%;
    text-align: center;
}

main img {
    width: 300px;
}

footer img {
    width: 12px;
}

header a {
    text-decoration: none;
    color: var(--accent1-color);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

body {
    max-width: 820px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: Arial, sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.hero {
    position: relative;
}

.hero>img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    background-color: rgba(5, 43, 61, 0.5);
    top: 110px;
    padding: 12px;
    margin: 35px;
}

.hero>article>img{
    width: 180px;
    float: right;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form {
    border: 1px dashed lightblue;
    border-radius: .5rem;
    width: 520px;
    margin: 0 auto;
}

.adventure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.adventure img {
    width: 120px;
}

.adventure-header {
    text-align: center;
}

/* .employees, .companyInfo, form {
    border: 2px solid white;
} */

.employees {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.companyInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

form, .main {
    display: grid;
    padding: 1rem;
}


input {
    border: none;
    height: 1.5rem;
}

button {
    background-color: #001d56;
    border: none;
    color: aliceblue;
    padding: .5rem;
    border-radius: .5rem;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

label {
    font-size: 1em;
    padding: .3rem;
}

.five input {
    width: 1rem;
}

.five {
    display: flex;
}

.label:after {
    content: "*";
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust space between radio and label */
    margin-bottom: 5px; /* Space between each option */
}

.employee img {
    width: 200px;
}