* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
    color: rgb(9, 9, 111);
}

body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}

form {
    width: 520px;
    display: grid;
    text-align: center;
    margin: 0 auto 1rem;
    border: 2px solid gray;
    background-color: aliceblue;
    padding: 2rem;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    text-align: left;
    padding: .5rem;
}


input, select {
    width: 100%;
    height: 7vh;
}

textarea {
    width: 100%;
}

.box {
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    width: 320px;
    text-align: center;
    margin: 0 auto 1rem;
}

button {
    background-color: rgb(9, 9, 111);
    color: aliceblue;
    border: none;
    height: 2.5rem;
    border-radius: 2%;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
    
}