:root {
    --standard-size: 2px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--standard-size);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 250px;
    margin: var(--standard-size);
    border: var(--standard-size) solid darkgray;
    padding: var(--standard-size);
    background-color: aliceblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--standard-size);
    border-top: 1px solid black;
    text-align: center;
}